body{
    height: 100vh;
    width: 100vw;
    font-family: 'Times New Roman', Times, serif;

}
#container{
    display: inline-block;
    color: rgb(148, 143, 143);

    
}
header{
    width: 100vw;
    display: inline-block;
}
#container1{
    display: inline-block;
    float: right;
    width: 4rem;
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    margin-right: 3rem;
    
}
#container2{
    display: inline-block;
    float: right;
    width: 4rem;
    height: 2rem;
    background-color: rgb(23, 22, 22);
    border: 1px solid black;
    border-radius: 1rem;
    color: white;
    text-align: center;
    align-content: center;
    margin-right: 0.5rem;
     
   
}
#parent{
   height: 16rem;
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding-left: 12rem;
   padding-right: 12rem;
   

}
#child1{
    height: 4rem;
    width: 25rem;
    border-radius: 20px;
    border: 1px solid rgb(187, 182, 182);
    align-content: center;

}
h5{
    display: inline;
    padding-left: 1rem;
    align-content: center;
   
   
}
p{
    display: inline;
    padding-left: 1rem;
    color: rgb(169, 168, 168);
    align-content: center;

}
#child2{
    height: 4rem;
    width: 25rem;
    border: 1px solid rgb(187, 182, 182);
    border-radius: 20px;
    align-content: center;
   

}
#child3{
    height: 4rem;
    width: 25rem;
    border: 1px solid rgb(187, 182, 182);
    border-radius: 20px;
    align-content: center;
   

}
#child4{
    height: 4rem;
    width: 25rem;
    border: 1px solid rgb(187, 182, 182);
    border-radius: 20px;
    align-content: center;
    

}
#blank{
    display: grid;
    height: 9rem;
}
#child5{
    height: 2.5rem;
    border: 1px solid rgb(187, 182, 182);
    border-radius: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    align-content: center;
    background-color: rgb(236, 234, 234);
    width: 51rem;

}
span{
    text-decoration: underline;
    color: black;


}
#footer{
  
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    
}
#arrow{
    height: 2rem;
    float:right;
    align-content: center;
    display: inline-block;
    width: 2rem;
    

}
#chat{
    height: 2rem;
    width: 2rem;   
   
}
@media screen and (max-width:600px)
{

  #parent{
    height: 25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
    
       
   }

    #child1{
        height: 4rem;
        width: 34rem;
        border-radius: 20px;
        border: 1px solid rgb(187, 182, 182);
        align-content: center;
        grid-column-start: 1;
        grid-column-end: 3;
    
    }
    #child2{
        height: 4rem;
        width: 34rem;
        border-radius: 20px;
        border: 1px solid rgb(187, 182, 182);
        align-content: center;
        grid-column-start: 1;
        grid-column-end: 3;
    
    }  
    #child3{
        height: 4rem;
        width: 34rem;
        border-radius: 20px;
        border: 1px solid rgb(187, 182, 182);
        align-content: center;
        grid-column-start: 1;
        grid-column-end: 3;
    
    } 
    #child4{
        height: 4rem;
        width: 34rem;
        border-radius: 20px;
        border: 1px solid rgb(187, 182, 182);
        align-content: center;
        grid-column-start: 1;
        grid-column-end: 3;
    
    } 
    #child5{
        height: 3rem;
        width: 34rem;
        border: 1px solid rgb(187, 182, 182);
        border-radius: 20px;
        grid-column-start: 1;
        grid-column-end: 3;
        align-content: center;
        display: inline-block;
        background-color: rgb(236, 234, 234);
    
    }  
    header{
        width: 100vw;
      

    }
    #container1{
        display: inline-block;
        float: right;
        width: 4rem;
        height: 2rem;
        border-radius: 15px;
        border: 1px solid black;
        text-align: center;
        align-content: center;
       
        
        
    }
    #container2{
        display: inline-block;
        float: right;
        width: 4rem;
        height: 2rem;
        background-color: rgb(23, 22, 22);
        border: 1px solid black;
        border-radius: 15px;
        color: white;
        text-align: center;
        align-content: center;
        
         
       
    }
    #chat{
        height: 2rem;
        width: 2rem; 
        align-items: center; 
        justify-content: center; 
       
    }
    #container{
        display: inline-block;
        color: rgb(148, 143, 143);
        align-content: center;
    } 
    #footer{
  
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center; 
        
    }   

}